# Вимикання коментарів та файли збірки
*.exe
*.dll
*.so
*.dylib

# Вимикання файли конфігурації
*.yaml
*.yml

# Вимикання файли логів
*.log

# Вимикання файли залежностей
/vendor/
/go.sum
go.sum

# Вимикання бінарників та тимчасових відладочних бінарників
/bin/
/debug/
__debug_bin
binance_go_bot
.fake
.vscode/launch.json
./datastore.json
